/*
    -------------------
    ----- Account.css -
    -------------------
*/


/* Account Component */
    /* --- Main Box--- */
        .Account-entire-box {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; 
            width: 100%;
            flex-direction: column; /* Stack items vertically */
        }
        
@media only screen and (min-width: 1100px){
        .Account-entire-box img {
            width: 55%; 
            height: 55%; 
            object-fit: cover; 
            display: block; 
            margin: 0 auto; 
            border-radius: 10px;
            border: solid 1px black;
        }

/* --- Login Box--- */
    /* --- Login Title --- */
        .Account-login-title {
            position: absolute;
            top: 40%; /* Adjust vertical positioning */
            left: 50%; /* Move left */
            transform: translate(-50%, -50%);
            font-size: 2.5rem; 
            font-weight: bold; 
            color: white; /* Adjust for visibility */
            border-radius: 5px;
            margin-top: 9%;
        }
    
    /* --- Login Inputs --- */
        .Account-login-username-input{
            position: absolute;
            top: 50%; /* Adjust vertical positioning */
            left: 50%; /* Move left */
            transform: translate(-50%, -50%);
            width: 15%; 
            height: 3%; 
            border-radius: 5px;
        }

        .Account-login-password-input{
            position: absolute;
            top: 54%; /* Adjust vertical positioning */
            left: 50%; /* Move left */
            transform: translate(-50%, -50%);
            width: 15%; 
            height: 3%; 
            border-radius: 5px;
        }

        .Account-login-submit-button{
            position: absolute;
            top: 58.5%; /* Adjust vertical positioning */
            left: 50%; /* Move left */
            transform: translate(-50%, -50%);
            width: 15%; 
            height: 4%; 
            border-radius: 5px;
            background-color: purple; 
            font-size: 15px;
            color: white;
        }

        .Account-login-submit-button:hover{
            background-color: #4B0082;
        }

        .Account-login-submit-button-login {
            position: absolute;
            top: 58.5%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 15%;
            height: 4%;
            border-radius: 5px;
            background-color: purple;
            font-size: 15px;
            color: white;
        }
        
        .Account-login-submit-button-login:hover {
            background-color: #4B0082;
        }
        

    /* --- Account Toggle Link --- */
        .Account-toggle-link {
            text-align: center; /* Ensure the text is centered */
            color: black;
            text-decoration: none; 
            cursor: pointer;
            margin-top: 15px;  /* Adjust space between the login button and the link */
            display: block;
        }

        .highlight {
            font-weight: bold;
            color: purple; /* Highlight color for 'Login' or 'Sign Up' */
        }


    /* --- Sign Up Box--- */
        /* --- Sign Up Inputs --- */
            .Account-signup-username-input {
                position: absolute;
                top: 50%; /* Adjust vertical positioning */
                left: 32%;
                transform: translate(-50%, -50%);
                width: 15%;
                height: 3%;
                border-radius: 5px;
            }
            
            .Account-signup-password-input {
                position: absolute;
                top: 54%; /* Adjust vertical positioning */
                left: 32%;
                transform: translate(-50%, -50%);
                width: 15%;
                height: 3%;
                border-radius: 5px;
            }

            .Account-signup-confirm-password-input{
                position: absolute;
                top: 57.5%; /* Adjust vertical positioning */
                left: 32%;
                transform: translate(-50%, -50%);
                width: 15%;
                height: 3%;
                border-radius: 5px;
            }

            .Account-signup-submit-button{
                position: absolute;
                top: 62%;
                left: 32%;
                transform: translate(-50%, -50%);
                width: 15%;
                height: 4%;
                border-radius: 5px;
                background-color: purple;
                font-size: 15px;
                color: white;
            }
            
            .Account-signup-submit-button:hover {
                background-color: #4B0082;
            }

        /* --- Account Toggle Link --- */
            .Account-toggle-link {
                text-align: center; /* Ensure the text is centered */
                color: black;
                text-decoration: none; 
                cursor: pointer;
                margin-top: 15px;  /* Adjust space between the login button and the link */
                display: block;
            }

            .highlight {
                font-weight: bold;
                color: purple; /* Highlight color for 'Login' or 'Sign Up' */
            }
}

@media only screen and (min-width: 600px) and (max-width: 1100px){
        .Account-entire-box img {
            width: 55%; 
            height: 55%; 
            object-fit: cover; 
            display: block; 
            margin: 0 auto; 
            border-radius: 10px;
            border: solid 1px black;
        }

    /* --- Login Box--- */
        /* --- Login Title --- */
            .Account-login-title {
                position: absolute;
                top: 40%; /* Adjust vertical positioning */
                left: 50%; /* Move left */
                transform: translate(-50%, -50%);
                font-size: 2.5rem; 
                font-weight: bold; 
                color: white; /* Adjust for visibility */
                border-radius: 5px;
                margin-top: 1%;
            }

        /* --- Login Inputs --- */
            .Account-login-username-input{
                position: absolute;
                top: 50%; /* Adjust vertical positioning */
                left: 50%; /* Move left */
                transform: translate(-50%, -50%);
                width: 15%; 
                height: 3.5%; 
                border-radius: 5px;
            }

            .Account-login-password-input{
                position: absolute;
                top: 54%; /* Adjust vertical positioning */
                left: 50%; /* Move left */
                transform: translate(-50%, -50%);
                width: 15%; 
                height: 3.5%; 
                border-radius: 5px;
            }

            .Account-login-submit-button{
                position: absolute;
                top: 58.5%; /* Adjust vertical positioning */
                left: 50%; /* Move left */
                transform: translate(-50%, -50%);
                width: 15%; 
                height: 4%; 
                border-radius: 5px;
                background-color: purple; 
                font-size: 15px;
                color: white;
            }
    
            .Account-login-submit-button:hover{
                background-color: #4B0082;
            }
    
            .Account-login-submit-button-login {
                position: absolute;
                top: 58.5%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 15%;
                height: 4%;
                border-radius: 5px;
                background-color: purple;
                font-size: 15px;
                color: white;
            }
            
            .Account-login-submit-button-login:hover {
                background-color: #4B0082;
            }
            
    
        /* --- Account Toggle Link --- */
            .Account-toggle-link {
                text-align: center; /* Ensure the text is centered */
                color: black;
                text-decoration: none; 
                cursor: pointer;
                margin-top: 15px;  /* Adjust space between the login button and the link */
                display: block;
            }
    
            .highlight {
                font-weight: bold;
                color: purple; /* Highlight color for 'Login' or 'Sign Up' */
            }

    /* --- Sign Up Box--- */
        /* --- Sign Up Inputs --- */
            .Account-signup-username-input {
                position: absolute;
                top: 50%; /* Adjust vertical positioning */
                left: 32%;
                transform: translate(-50%, -50%);
                width: 15%;
                height: 3%;
                border-radius: 5px;
            }
            
            .Account-signup-password-input {
                position: absolute;
                top: 54%; /* Adjust vertical positioning */
                left: 50%;
                transform: translate(-50%, -50%);
                width: 15%;
                height: 3%;
                border-radius: 5px;
            }

            .Account-signup-confirm-password-input{
                position: absolute;
                top: 57.5%; /* Adjust vertical positioning */
                left: 50%;
                transform: translate(-50%, -50%);
                width: 15%;
                height: 3%;
                border-radius: 5px;
            }

            .Account-signup-submit-button{
                position: absolute;
                top: 62%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 15%;
                height: 4%;
                border-radius: 5px;
                background-color: purple;
                font-size: 15px;
                color: white;
            }
            
            .Account-signup-submit-button:hover {
                background-color: #4B0082;
            }
        

    /* --- Account Toggle Link --- */
        .Account-toggle-link {
            text-align: center; /* Ensure the text is centered */
            color: black;
            text-decoration: none; 
            cursor: pointer;
            margin-top: 15px;  /* Adjust space between the login button and the link */
            display: block;
        }

        .highlight {
            font-weight: bold;
            color: purple; /* Highlight color for 'Login' or 'Sign Up' */
        }
}

@media only screen and (max-width: 600px){
        .Account-entire-box img {
            width: 55%; 
            height: 55%; 
            object-fit: cover; 
            display: block; 
            margin: 0 auto; 
            border-radius: 10px;
            border: solid 1px black;
        }

    /* --- Login Box--- */
        /* --- Login Title --- */
            .Account-login-title {
                position: absolute;
                top: 40%; /* Adjust vertical positioning */
                left: 50%; /* Move left */
                transform: translate(-50%, -50%);
                font-size: 2.5rem; 
                font-weight: bold; 
                color: white; /* Adjust for visibility */
                border-radius: 5px;
                margin-top: 1%;
            }

        /* --- Login Inputs --- */
            .Account-login-username-input{
                position: absolute;
                top: 50%; /* Adjust vertical positioning */
                left: 50%; /* Move left */
                transform: translate(-50%, -50%);
                width: 35%; 
                height: 3.5%; 
                border-radius: 5px;
            }

            .Account-login-password-input{
                position: absolute;
                top: 54%; /* Adjust vertical positioning */
                left: 50%; /* Move left */
                transform: translate(-50%, -50%);
                width: 35%; 
                height: 3.5%; 
                border-radius: 5px;
            }
    
            .Account-login-submit-button:hover{
                background-color: #4B0082;
            }
    
            .Account-login-submit-button-login {
                position: absolute;
                top: 58.5%;
                left: 32%;
                transform: translate(-50%, -50%);
                width: 15%;
                height: 4%;
                border-radius: 5px;
                background-color: purple;
                font-size: 15px;
                color: white;
            }
            
            .Account-login-submit-button-login:hover {
                background-color: #4B0082;
            }
            
    
        /* --- Account Toggle Link --- */
            .Account-toggle-link {
                text-align: center; /* Ensure the text is centered */
                color: black;
                text-decoration: none; 
                cursor: pointer;
                margin-top: 15px;  /* Adjust space between the login button and the link */
                display: block;
            }
    
            .highlight {
                font-weight: bold;
                color: purple; /* Highlight color for 'Login' or 'Sign Up' */
            }
            

    /* --- Sign Up Box--- */
        /* --- Sign Up Inputs --- */
        .Account-signup-username-input {
            position: absolute;
            top: 50%; /* Adjust vertical positioning */
            left: 32%;
            transform: translate(-50%, -50%);
            width: 15%;
            height: 3%;
            border-radius: 5px;
        }
        
        .Account-signup-password-input {
            position: absolute;
            top: 54%; /* Adjust vertical positioning */
            left: 32%;
            transform: translate(-50%, -50%);
            width: 15%;
            height: 3%;
            border-radius: 5px;
        }

        .Account-signup-confirm-password-input{
            position: absolute;
            top: 57.5%; /* Adjust vertical positioning */
            left: 50%;
            transform: translate(-50%, -50%);
            width: 35%;
            height: 3%;
            border-radius: 5px;
        }

        .Account-signup-submit-button{
            position: absolute;
            top: 62%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 35%;
            height: 4%;
            border-radius: 5px;
            background-color: purple;
            font-size: 15px;
            color: white;
        }
        
        .Account-signup-submit-button:hover {
            background-color: #4B0082;
        }
        

    /* --- Account Toggle Link --- */
        .Account-toggle-link {
            text-align: center; /* Ensure the text is centered */
            color: black;
            text-decoration: none; 
            cursor: pointer;
            margin-top: 15px;  /* Adjust space between the login button and the link */
            display: block;
        }

        .highlight {
            font-weight: bold;
            color: purple; /* Highlight color for 'Login' or 'Sign Up' */
        }
}

/* */