/*
    -------------------
    ----- Home.css ----
    -------------------
*/

/* Home Component */
/* --- Header --- */
    .Home-header{
        color: black;
        font-size: 48px;
        text-align: center;
        font-weight: bold;
        margin-top: 100px;
        margin-bottom: -100px;
    }

/* --- Footer --- */
    .Home-footer{
        text-align: center;
        padding-bottom: 15px;
    }   