/*
    -------------------
    ----- Nav.css -----
    -------------------
*/

/* --- Nav Bar Container --- */
    .nav-container {
        width: 100%;
        background-color: purple;
        padding: 10px 0;
    }

/* --- Title --- */
    .nav-title{
        color: whitesmoke;
        padding-left: 15px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

/* --- Links --- */
    .nav-links {
        list-style: none;
        display: flex;
        gap: 20px;
        padding: 0;
        margin: 0;
        margin-left: auto;
        padding-right: 15px;
    }

    .nav-links li {
        display: inline;
    }

    .nav-links li a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .nav-links:hover li:hover a:hover {
        color: lightblue;
    }   

    .nav-links li a:active {
        color: lightblue;
        transform: scale(1.1);
    }   

    .bi.bi-person-square{
        color: whitesmoke;
    }

/* --- --- */

