/*
    -------------------
    -- NextPage.css ---
    -------------------
*/

/* --- Add Package to list --- */
    .NextPage-add-package {
        position: relative;
        display: flex;
        align-items: center; 
    }

    .NextPage-add-package-btn {
        display: flex;
        margin-left: auto;
        margin-top: 5px;
        margin-right: 5px;
        border-radius: 5px;
        background-color: whitesmoke;
        color: black;
        padding: 10px 20px; 
        cursor: pointer;
        z-index: 2; 
    }

    .NextPage-add-package-btn:hover {
        background-color: rgb(209, 209, 209);
    }

    .NextPage-add-package-btn:active {
        transform: scale(1.1);
    }

    .bi.bi-plus-lg {
        color: black;
    }

/* --- The input will be hidden behind the button initially --- */
    .NextPage-input {
        position: absolute;
        top: 0;
        right: 0; 
        transform: translateX(100%); 
        opacity: 0;
        visibility: hidden;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        padding: 10px;
        width: 75%; 
        z-index: 1; 
        margin-top: 5px;
        margin-right: 5px;
        border-radius: 5px;
    }

/* --- When the input is visible, slide it to the left of the button --- */
    .NextPage-add-package.show-input .NextPage-input {
        opacity: 1;
        visibility: visible;
        transform: translateX(0); 
    }

    .Home-footer {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
    }

/* --- Search Btn for Package Number --- */
    .NextPage-search-btn {
        display: flex;
        border-radius: 5px;
        height: 2.9em;
        position: absolute;  
        right: 160px;  
        top: auto;
        transform: translateY(-50%); 
        z-index: 10; 
    }

    @media only screen and (min-width: 1100px){
        .NextPage-search-btn {
            top: -29px;
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 1100px){
        .NextPage-search-btn {
            top: -7px;
        }
    }

    @media only screen and (max-width: 600px){
        .NextPage-search-btn {
            top: 7px;
        }
    }

    .NextPage-search-btn:hover {
        background-color: rgb(209, 209, 209);
    }

    .bi.bi-search{
        margin-top: 7px;
    }
  
    .NextPage-Display-DB{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .NextPage-li{
        list-style-type: none;
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: transparent;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .NextPage-li-content{
        background-color: transparent;
    }

    .NextPage-tracking-button{
        background-color: transparent;
        color: black;
        border: 1px solid black;
    }

    .NextPage-tracking-button:hover{
        background-color: purple;
        color: whitesmoke;
    }

    .NextPage-dropdown-content {
        background-color: whitesmoke;
        border-radius: 5px;  
    }
    
    .NextPage-dropdown-text{
        padding: 10px;
        cursor: pointer;
    }
